In [1]:
import pandas as pd
import numpy as np
import json
import requests
import warnings
warnings.filterwarnings('ignore')

In [2]:
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)

In [3]:
content=json.loads(response.content)

In [4]:
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])

In [5]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [6]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [7]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores

0             leclerc
1               sainz
2            hamilton
3             russell
4     kevin_magnussen
           ...
15    mick_schumacher
16    kevin_magnussen
17           hamilton
18             latifi
19             alonso
Name: Driver, Length: 440, dtype: object

## Actividad
Sumaremos los puntos obtenidos por conductor
### Tabla de resultados

In [8]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [9]:
df_results_2022['points']=df_results_2022['points'].astype(int)
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [10]:
df_results_2022.groupby(['Driver']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

## Ejercicio
Ahora lo haremos pero por constructor

In [11]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [12]:
df_results_2022.groupby(['Constructor']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

In [13]:
df_results_2022['Constructor']

0      ferrari
1      ferrari
2     mercedes
3     mercedes
4         haas
        ...
15        haas
16        haas
17    mercedes
18    williams
19      alpine
Name: Constructor, Length: 440, dtype: object

## Todas las carreras desde el 2010

In [14]:
url = 'http://ergast.com/api/f1/2012.json'
response = requests.get(url.format(race))
content=json.loads(response.content)

In [15]:
pd.DataFrame(content['MRData']['RaceTable']['Races'])

,season,round,url,raceName,Circuit,date,time
0,2012,1,http://en.wikipedia.org/wiki/2012_Australian_G...,Australian Grand Prix,"{'circuitId': 'albert_park', 'url': 'http://en...",2012-03-18,06:00:00Z
1,2012,2,http://en.wikipedia.org/wiki/2012_Malaysian_Gr...,Malaysian Grand Prix,"{'circuitId': 'sepang', 'url': 'http://en.wiki...",2012-03-25,08:00:00Z
2,2012,3,http://en.wikipedia.org/wiki/2012_Chinese_Gran...,Chinese Grand Prix,"{'circuitId': 'shanghai', 'url': 'http://en.wi...",2012-04-15,07:00:00Z
3,2012,4,http://en.wikipedia.org/wiki/2012_Bahrain_Gran...,Bahrain Grand Prix,"{'circuitId': 'bahrain', 'url': 'http://en.wik...",2012-04-22,12:00:00Z
4,2012,5,http://en.wikipedia.org/wiki/2012_Spanish_Gran...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'http://en.w...",2012-05-13,12:00:00Z
5,2012,6,http://en.wikipedia.org/wiki/2012_Monaco_Grand...,Monaco Grand Prix,"{'circuitId': 'monaco', 'url': 'http://en.wiki...",2012-05-27,12:00:00Z
6,2012,7,http://en.wikipedia.org/wiki/2012_Canadian_Gra...,Canadian Grand Prix,"{'circuitId': 'villeneuve', 'url': 'http://en....",2012-06-10,18:00:00Z
7,2012,8,http://en.wikipedia.org/wiki/2012_European_Gra...,European Grand Prix,"{'circuitId': 'valencia', 'url': 'http://en.wi...",2012-06-24,12:00:00Z
8,2012,9,http://en.wikipedia.org/wiki/2012_British_Gran...,British Grand Prix,"{'circuitId': 'silverstone', 'url': 'http://en...",2012-07-08,12:00:00Z
9,2012,10,http://en.wikipedia.org/wiki/2012_German_Grand...,German Grand Prix,"{'circuitId': 'hockenheimring', 'url': 'http:/...",2012-07-22,12:00:00Z
10,2012,11,http://en.wikipedia.org/wiki/2012_Hungarian_Gr...,Hungarian Grand Prix,"{'circuitId': 'hungaroring', 'url': 'http://en...",2012-07-29,12:00:00Z
11,2012,12,http://en.wikipedia.org/wiki/2012_Belgian_Gran...,Belgian Grand Prix,"{'circuitId': 'spa', 'url': 'http://en.wikiped...",2012-09-02,12:00:00Z
12,2012,13,http://en.wikipedia.org/wiki/2012_Italian_Gran...,Italian Grand Prix,"{'circuitId': 'monza', 'url': 'http://en.wikip...",2012-09-09,12:00:00Z
13,2012,14,http://en.wikipedia.org/wiki/2012_Singapore_Gr...,Singapore Grand Prix,"{'circuitId': 'marina_bay', 'url': 'http://en....",2012-09-23,12:00:00Z
14,2012,15,http://en.wikipedia.org/wiki/2012_Japanese_Gra...,Japanese Grand Prix,"{'circuitId': 'suzuka', 'url': 'http://en.wiki...",2012-10-07,06:00:00Z
15,2012,16,http://en.wikipedia.org/wiki/2012_Korean_Grand...,Korean Grand Prix,"{'circuitId': 'yeongam', 'url': 'http://en.wik...",2012-10-14,06:00:00Z
16,2012,17,http://en.wikipedia.org/wiki/2012_Indian_Grand...,Indian Grand Prix,"{'circuitId': 'buddh', 'url': 'http://en.wikip...",2012-10-28,09:30:00Z
17,2012,18,http://en.wikipedia.org/wiki/2012_Abu_Dhabi_Gr...,Abu Dhabi Grand Prix,"{'circuitId': 'yas_marina', 'url': 'http://en....",2012-11-04,13:00:00Z
18,2012,19,http://en.wikipedia.org/wiki/2012_United_State...,United States Grand Prix,"{'circuitId': 'americas', 'url': 'http://en.wi...",2012-11-18,19:00:00Z
19,2012,20,http://en.wikipedia.org/wiki/2012_Brazilian_Gr...,Brazilian Grand Prix,"{'circuitId': 'interlagos', 'url': 'http://en....",2012-11-25,16:00:00Z

# Races

In [19]:
races = {'season':[],
        'round':[],
        'raceName':[],
        'circuitId':[],
        'lat':[],
        'long':[],
        'country':[],
        'date':[],
        'url':[]}

In [20]:
for year in range(2010,UltimaTemporada+1):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races']:
            races['season'].append(int(item['season']))
            races['round'].append(int(item['round']))
            races['raceName'].append(item['raceName'])
            races['circuitId'].append(item['Circuit']['circuitId'])
            races['lat'].append(item['Circuit']['Location']['lat'])
            races['long'].append(item['Circuit']['Location']['long'])
            races['country'].append(item['Circuit']['Location']['country'])
            races['date'].append(item['date'])
            #races['url'].append(item['Circuit']['url'])
            races['url'].append(item['url'])

In [21]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
277,2023,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2023-10-22,https://en.wikipedia.org/wiki/2023_United_Stat...
278,2023,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2023-10-29,https://en.wikipedia.org/wiki/2023_Mexico_City...
279,2023,21,SÃ£o Paulo Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2023-11-05,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...
280,2023,22,Las Vegas Grand Prix,vegas,36.1147,-115.173,United States,2023-11-19,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...
281,2023,23,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2023-11-26,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...

## Actividad
Tabla con year y url
### temporadas

In [6]:
url='http://ergast.com/api/f1/seasons.json?limit=1000'
response = requests.get(url)
content=json.loads(response.content)

In [7]:
season ={'temporada':[],'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    season['temporada'].append(int(item['season']))
    season['url'].append(item['url'])
pd.DataFrame(season)

    temporada                                                url
0        1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1        1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2        1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3        1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4        1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
..        ...                                                ...
69       2019  http://en.wikipedia.org/wiki/2019_Formula_One_...
70       2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
71       2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
72       2022  http://en.wikipedia.org/wiki/2022_Formula_One_...
73       2023  https://en.wikipedia.org/wiki/2023_Formula_One...

[74 rows x 2 columns]

In [14]:
UltimaTemporada=np.max(season['temporada'])

### Exportar a excel o csv
La diferencia con excel serÃ­a:

pd.DataFrame(races).to_excel('races.xlsx',index=False)

In [23]:
pd.DataFrame(races).to_csv('races.csv',index=False)

In [26]:
pd.DataFrame(season).to_csv('season.csv',index=False)

# Tarea 1
Crear el scrip que genere 4 archivos csv que contengan la informaciÃ³n de las siguientes tablas:

drivers constructors circuits qualifying

### Drivers

In [63]:
drivers ={'year':[],'driverId':[],'number':[],'code':[],'forname':[],'sumame':[],'dob':[],'nationality':[],'url':[]}
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/drivers.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['DriverTable']['Drivers']:
        drivers['year'].append(year)
        drivers['driverId'].append(item['driverId'])
        try:
            drivers['number'].append(int(item['permanentNumber']))
        except:
            drivers['number'].append(None)
        drivers['code'].append(item['code'])
        drivers['forname'].append(item['familyName'])
        drivers['sumame'].append(item['givenName'])
        drivers['dob'].append(item['dateOfBirth'])
        drivers['nationality'].append(item['nationality'])
        drivers['url'].append(item['url'])
drivers['driverRef']=np.arange(1,pd.DataFrame(drivers).shape[0]+1,1)
pd.DataFrame(drivers)

,year,driverId,number,code,forname,sumame,dob,nationality,url,driverRef
0,2010,alguersuari,NaN,ALG,Alguersuari,Jaime,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari,1
1,2010,alonso,14.0,ALO,Alonso,Fernando,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,2
2,2010,barrichello,NaN,BAR,Barrichello,Rubens,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello,3
3,2010,buemi,NaN,BUE,Buemi,SÃ©bastien,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi,4
4,2010,button,22.0,BUT,Button,Jenson,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button,5
...,...,...,...,...,...,...,...,...,...,...
299,2022,stroll,18.0,STR,Stroll,Lance,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll,300
300,2022,tsunoda,22.0,TSU,Tsunoda,Yuki,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,301
301,2022,max_verstappen,33.0,VER,Verstappen,Max,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen,302
302,2022,vettel,5.0,VET,Vettel,Sebastian,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel,303
303,2022,zhou,24.0,ZHO,Zhou,Guanyu,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou,304

In [64]:
pd.DataFrame(drivers).to_csv('drivers.csv',index=False)

### constructors

In [65]:
#constructors ={'constructorId':[],'constructorRef':[],'name':[],'nationality':[],'url':[]}
constructors ={'year':[],'constructorRef':[],'constructorId':[],'name':[],'nationality':[],'url':[]}
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/constructors.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['ConstructorTable']['Constructors']:
        constructors['year'].append(year)
        constructors['constructorId'].append(item['constructorId'])
        constructors['name'].append(item['name'])
        constructors['nationality'].append(item['nationality'])
        constructors['url'].append(item['url'])
constructors['constructorRef']=np.arange(1,140,1)
pd.DataFrame(constructors)

,year,constructorRef,constructorId,name,nationality,url
0,2010,1,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,2010,2,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,2010,3,hrt,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,2010,4,lotus_racing,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,2010,5,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...
134,2022,135,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
135,2022,136,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
136,2022,137,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
137,2022,138,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
138,2022,139,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [66]:
pd.DataFrame(constructors).to_csv('constructors.csv',index=False)

### circuits

In [67]:
circuits ={'year':[],'circuitId':[],'cicuitsRef':[],'name':[],'location':[],'country':[],'lat':[],'lng':[],'url':[]}
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/circuits.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['CircuitTable']['Circuits']:
        circuits['year'].append(year)
        circuits['circuitId'].append(item['circuitId'])
        #circuits['driverRef'].append(item['driverRef'])
        circuits['lat'].append(float(item['Location']['lat']))
        circuits['lng'].append(float(item['Location']['long']))
        circuits['location'].append(item['Location']['locality'])
        circuits['country'].append(item['Location']['country'])
        #circuits['alt'].append(item['Location']['alt'])
        circuits['name'].append(item['circuitName'])
        circuits['url'].append(item['url'])
circuits['cicuitsRef']=np.arange(1,256,1)
pd.DataFrame(circuits)

,year,circuitId,cicuitsRef,name,location,country,lat,lng,url
0,2010,albert_park,1,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2010,bahrain,2,Bahrain International Circuit,Sakhir,Bahrain,26.0325,50.51060,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,2010,catalunya,3,Circuit de Barcelona-Catalunya,MontmelÃ³,Spain,41.5700,2.26111,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,2010,hockenheimring,4,Hockenheimring,Hockenheim,Germany,49.3278,8.56583,http://en.wikipedia.org/wiki/Hockenheimring
4,2010,hungaroring,5,Hungaroring,Budapest,Hungary,47.5789,19.24860,http://en.wikipedia.org/wiki/Hungaroring
...,...,...,...,...,...,...,...,...,...
250,2022,spa,251,Circuit de Spa-Francorchamps,Spa,Belgium,50.4372,5.97139,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
251,2022,suzuka,252,Suzuka Circuit,Suzuka,Japan,34.8431,136.54100,http://en.wikipedia.org/wiki/Suzuka_Circuit
252,2022,villeneuve,253,Circuit Gilles Villeneuve,Montreal,Canada,45.5000,-73.52280,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
253,2022,yas_marina,254,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.60310,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
254,2022,zandvoort,255,Circuit Park Zandvoort,Zandvoort,Netherlands,52.3888,4.54092,http://en.wikipedia.org/wiki/Circuit_Zandvoort

In [68]:
pd.DataFrame(circuits).to_csv('circuits.csv',index=False)

### qualifying

In [61]:
qualifying ={'year':[],'qualifyingId':[],'raceId':[],'driverId':[],'constructorId':[],'number':[],'position':[],'Q1':[],'Q2':[],'Q3':[]}
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/qualifying.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        qualifying['year'].append(year)
        #qualifying['qualifyingId'].append(item['qualifyingId'])
        qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        qualifying['Q1'].append(item['Q1'])
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)
    for item in content['MRData']['RaceTable']['Races'][1]['QualifyingResults']:
        qualifying['year'].append(year)
        #qualifying['qualifyingId'].append(item['qualifyingId'])
        qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        qualifying['Q1'].append(item['Q1'])
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)
qualifying['qualifyingId']=np.arange(1,391,1)
pd.DataFrame(qualifying)

,year,qualifyingId,raceId,driverId,constructorId,number,position,Q1,Q2,Q3
0,2010,1,Bahrain Grand Prix,vettel,red_bull,5,1,1:55.029,1:53.883,1:54.101
1,2010,2,Bahrain Grand Prix,massa,ferrari,7,2,1:55.313,1:54.331,1:54.242
2,2010,3,Bahrain Grand Prix,alonso,ferrari,8,3,1:54.612,1:54.172,1:54.608
3,2010,4,Bahrain Grand Prix,hamilton,mclaren,2,4,1:55.341,1:54.707,1:55.217
4,2010,5,Bahrain Grand Prix,rosberg,mercedes,4,5,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...,...,...,...
385,2022,386,Saudi Arabian Grand Prix,russell,mercedes,63,6,1:29.680,1:29.618,1:29.104
386,2022,387,Saudi Arabian Grand Prix,alonso,alpine,14,7,1:29.978,1:29.295,1:29.147
387,2022,388,Saudi Arabian Grand Prix,bottas,alfa,77,8,1:29.683,1:29.404,1:29.183
388,2022,389,Saudi Arabian Grand Prix,gasly,alphatauri,10,9,1:29.891,1:29.418,1:29.254
389,2022,390,Saudi Arabian Grand Prix,kevin_magnussen,haas,20,10,1:29.831,1:29.546,1:29.588

In [62]:
pd.DataFrame(qualifying).to_csv('qualifying.csv',index=False)